body {
    margin: 0;
    font-family: "Raleway","Helvetica","Arial",sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit; /* наслідувати */
}

.header {
    height: 50px;
    /*line-height: 50px; /* висота лінії тексту дорівнює висоті блоку, якщо маєм відцентрувати текст */
    background-color: black; 
    align-items: center;  /*align content vertically or start, or end */
    display: flex; /* only fo parent block */
    justify-content: space-between; /* розташування елементів блоку по center, 
    space-between або space-around, або start, або end напр.*/
    /* flex-direction: column; */
    /*flex-wrap: wrap;   only fo parent block */
}

.logo-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-img {
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 0 10px;
    /* display: inline-block; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* order: 1; */ 
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.nav-list-link {
    position: relative;
}

.nav-list-link::after {
    content: "";
    position: absolute;
    background: #17baaa;
    bottom: -8px;
    height: 2px;
    left: 0;
    /* transform: scaleX(0); */
    transition: all .25s ease;
    width: 100%;
}

.nav-list li:last-of-type a {
    display: flex;
    height: 30px;
    /* line-height: 30px; */
    padding: 0 10px;
    background-color: #dd3d53;
    align-items: center;
    border-radius: 3px;
    transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
    color: #fff;
    border-radius: 5px;
}

.nav-list li:last-of-type a svg {
   width: 1em;
}

.svg-inline--fa {
    margin-right: 10px;
    /* display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em; */
}

/* 27 06 2023*/
.test-transform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s ease;
}

.test-rotate {
    background-color: aquamarine;
}
.test-rotate:hover {
    transform : rotate(90deg);
}
.test-scale {
    background-color: slategray;
}
.test-scale:hover {
    transform: scale(1.2);
}
.test-translate {
    background-color: tomato;
}
.test-translate:hover {
    transform: translate(100px, 0);
}
.test-skew {
    background-color: violet;
    border: solid 2px red;
    border-radius: 10px 10px 10px 0;
}
.test-skew:hover {
    transform: skew(30deg);
}
.line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dd3d53;
    margin-top: 20px;
}