body {
    margin: 0;
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    text-align: center;    
}
p {
  margin: 0px;
}
header {
    margin: 50px;
  }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, button {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 5px;
}

img {
    opacity: 1.0;
  }
  
  img:hover {
    opacity: 0.5;
  }

/* The index.html navigation bar */
.header {
    overflow: hidden;
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    align-items: center;
}

.logo-container {
  margin: 0px;
}
.logo-link {
    display: flex;
    height: 100%;
    align-items: center;
}
.logo-img {
    height: 40px;
}

.nav-list li {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
}

.nav-list li:last-of-type a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #dd3d53;
    transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
}

.nav-list li:last-of-type a svg {
    width: 1em;
}
.donate {
    display: flex;
    height: 100%;
    align-items: center;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    /*position: fixed;*/ /*Set the navbar to fixed position, but dropdown menu will not work*/
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 /* Start -------Style The Dropdown Button */

  /* Change background on mouse-over */
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background: #ddd;
    color: black;
  }

 /* The container <div> - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Button */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* End-------Style The Dropdown Button */

/* Main content */

.container {
    padding: 18px;
    margin-top: 35px; /* Add a top margin to avoid content overlay */
    /* height: 2000px; */
  }

/* usefull links & button settings */
.links {
    color: blue;
    display: inline-block;
    margin: 5px;
}
.links:hover {
    color: rgb(8, 69, 150);
}

.linksbutton {
    color: blue;
}

/* youtube button settings */
.youtube {
    background-color: red; 
    color: white; 
    border-radius:5px; 
}
.youtube:hover {
    background-color: #c9233a;
}
/* warinukraine button settings */
.warinukraine {
    color: red; 
    border-radius:10px;
}
.warinukraine:hover {
    background-color: rgb(176, 190, 190);
}
/* table settings */
.table {
    margin: 20px;
  }
  td, th {
    border: solid;
    padding: 5px;
  }
  table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  .left {
    text-align: left;
  }
  
  /* how to make a live preview of a website */
  #frame {
    border: 2px solid rgb(226, 17, 52);
    width: 100%;
    height: 300px;
    pointer-events: none;
    overflow: hidden;
    display: block;
  }

    /* programming studiing */
    .parent p {
      width: 50px;
    }
    .parent {
      width: 500px;
    }