body {
  background-image: url(pictures/pexels-pixabay-235985.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  text-align: center;
  margin: 0;
  }
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */

.container {
    padding: 18px;
    margin-top: 35px; /* Add a top margin to avoid content overlay */
    height: 2000px;
  }
header {
  margin: 50px;
}

  .links {
    display: inline-block;
    margin: 5px;
  }
  a {
    text-decoration: none;
    color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table {
  margin: 20px;
}
td, th {
  border: solid;
  padding: 5px;
}
table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.left {
  text-align: left;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}