body, h1 {
    margin: 0;
    font-family: "Raleway","Helvetica","Arial",sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit; /* наслідувати */
}

.header {
    height: 100vh;
    /*line-height: 50px; /* висота лінії тексту дорівнює висоті блоку, якщо маєм відцентрувати текст */
    /* background-color: black;  */
    background-image: url(https://opencages.com.ua/_nuxt/img/homepage.0151b74.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
/* додатковий фон поверх зображення бекграунду */
.header::after {
    background: #0c3632;
    content: "";
    height: 100%;
    left: 0;
    opacity: .85;
    position: absolute;
    top: 0;
    transition: all .25s ease;
    width: 100%;
}
.nav {
    position: relative;
    z-index: 1;
    align-items: center;  /*align content vertically or start, or end */
    display: flex; /* only fo parent block */
    justify-content: space-between; /* розташування елементів блоку по center, 
    space-between або space-around, або start, або end напр.*/
    /* flex-direction: column; */
    /*flex-wrap: wrap;   only fo parent block */
    padding: 0 20px;
}

.logo-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-img {
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 0 10px;
    /* display: inline-block; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* order: 1; */ 
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.nav-list-link {
    position: relative;
    transition: all .25s ease;
}

.nav-list-link::after {
    content: "";
    position: absolute;
    background: #17baaa;
    bottom: -8px;
    height: 2px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
    width: 100%;
}

.nav-list-link:hover {
    color: #17baaa;
}

.nav-list-link:hover::after {
    transform: scaleX(1);
}

.nav-list li:last-of-type a {
    display: flex;
    height: 30px;
    /* line-height: 30px; */
    padding: 0 10px;
    background-color: #dd3d53;
    align-items: center;
    border-radius: 3px;
    transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
    color: #fff;
    border-radius: 5px;
}

.nav-list li:last-of-type a svg {
   width: 1em;
}

.svg-inline--fa {
    margin-right: 10px;
    
    /* display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em; */
}

.content {
    position: relative;
    z-index: 1;
    margin: 200px;
}

.content h1 {
    color: white;
    font-size: 3.5em;
}

.cl-primary {
    display: block;
    color: #17baaa;
    margin-top: 40px;
}

.link-box {
    margin-top: 40px;
}

.link {
    background-color: #17baaa;
    color: #fff;
    align-items: center;
    border: 0;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    justify-content: center;
    max-width: 100%;
    min-height: 40px;
    outline: none;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all .25s ease;
}

/* 27 06 2023*/
.test-transform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s ease;
}

.test-rotate {
    background-color: aquamarine;
    transform-origin: bottom right; 
       /* вказуєм точку трансформації блоку */
}
.test-rotate:hover {
    transform : rotate(360deg);
    background-color: slategray;
    border-radius: 70px;
}
.test-scale {
    background-color: slategray;
}
.test-scale:hover {
    transform: scale(1.3);
    background-color: aquamarine;
    border-radius: 70px;
}
.test-translate {
    background-color: tomato;
}
.test-translate:hover {
    transform: translate(100px, 100px) scale(1.3); 
    /* через пробіл додаткові трансформації */
}
.test-skew {
    background-color: violet;
    border: solid 2px red;
    border-radius: 10px 10px 10px 0;
}
.test-skew:hover {
    transform: skew(30deg);
}
.line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dd3d53;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .nav-list-link {
        color: green;
    }
}
@media screen and (max-width: 600px) {
    .nav-list-link {
        color: red;
    }
}
@media screen and (max-width: 500px) {
    .nav-list-link {
        color: blue;
    }
}


.nav-toggle {
    color: #fff;
    font-size: 2rem;
}

.burger-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .nav-list-link {
        color: yellow;
    }
}

