body {
  background-image: url(pictures/pexels-pixabay-235985.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  text-align: center;
  margin: 0;
  }
.navbar {
    overflow: hidden;
    background-color: #6753534e;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  
.navbar a:hover {
    color: #1c87c9;
  }

.container {
    padding: 18px;
    margin-top: 35px;
    height: 2000px;
  }
header {
  margin: 50px;
}

  .links {
    display: inline-block;
    margin: 5px;
  }
  a {
    text-decoration: none;
    color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table {
  margin: 20px;
}
td, th {
  border: solid;
  padding: 5px;
}
table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.left {
  text-align: left;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}